/* 5 same style elements*/
body {
  background-color: grey;
  text-align: center;
}
nav ul li :hover {
  background-color: #DCDCDC;
}
ul{
 list-style-type: rectangular;
 color: lightblue;
 text-align: center;
 
}
nav{
  border: solid navy;
  margin: 0;
  text-align: center;
  font-family: Cambria,Arial;
  background-color: red ;
  position: fixed;
  left: 0;
  right: 0;


}
nav li {
  display: inline;
  text-align: center;
}

nav li a{
  color: black;
  padding: 12px 14px;
  text-decoration: none;
}
li, p {
  text-align: center;
  color: blue;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
     object-fit: cover;
     object-position: 0 -1em;
     width: 850px;
     height: 600px;
}
embed{
      padding: 30px 120px 30px 650px;
}
h1, h2, h3, h4{
  font-family: Cambria,Arial;
  text-align:center;
}
h1 {
  font-size: 30px;
  padding-top: 1em;
  padding-bottom: 0.5em;
  color: red;
}
h2 {
  color: lightblue;
  font-size: 25px;
}
h3 {
  color: lightblue;
  font-size: 20px;
}
h4 {
  color: red;
  font-size: 15px;
}

strong{
      text-align: left;
      font-family: Cambria,Arial;
      font-size: 15px;
      font-style: normal;
      color: lightblue;
}

#map {
      width: 850px;
      height: 600px;
      background-color: #c00;
      margin:0 auto;
      overflow: hidden;
}
